/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

h1 {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h2{
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

:root{
  --bs-primary-rgb: 245, 203, 167;
  --bs-link-color:#fb7601;
  --bs-body-bg:#FDF2E9
}
.expedu_icon{
  color:#fb7601;
}
.list-inline-item{
  color:#fb7601;
}
